<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831847861629-5tpvlag2rl02drs39mdjjpen0i8gb1p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831847861629-5tpvlag2rl02drs39mdjjpen0i8gb1p3</string>
	<key>API_KEY</key>
	<string>AIzaSyD6wO-S-b7vOyWVL-na_HnqGrt9caTzjq0</string>
	<key>GCM_SENDER_ID</key>
	<string>831847861629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hdevara.hips</string>
	<key>PROJECT_ID</key>
	<string>hips-a3ab6</string>
	<key>STORAGE_BUCKET</key>
	<string>hips-a3ab6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831847861629:ios:4985b8450f5f72a1c25014</string>
	<key>DATABASE_URL</key>
	<string>https://hips-a3ab6.firebaseio.com</string>
</dict>
</plist>